/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
textarea {
	color: #293e4c;
	font-family: 'gibson', sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 15px;
    -webkit-font-smoothing: antialiased;
}
body {
	background: #fff;
	color: #293e4c;
	font-family: 'gibson', sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 18px;
    -webkit-font-smoothing: antialiased;
}
::-moz-selection {
    background: #bdf6f1;
    text-shadow: none;
}
::selection {
    background: #bdf6f1;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
img {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
:focus {
	outline-color: #bdf6f1;
}
.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
ol, ul, li {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'gibson', sans-serif;
	font-weight: bold;
	margin: 0;
}
input,
textarea {
	background: #e1e7eb;
	border: 1px solid #e1e7eb;
	padding: 5px 6px;
}
input:focus,
textarea:focus {
background: #f1f4f5;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0iI2YxZjRmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc0JSIgc3RvcC1jb2xvcj0iI2UxZTdlYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(-45deg,  #f1f4f5 33%, #e1e7eb 74%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(33%,#f1f4f5), color-stop(74%,#e1e7eb));
background: -webkit-linear-gradient(-45deg,  #f1f4f5 33%,#e1e7eb 74%);
background: -o-linear-gradient(-45deg,  #f1f4f5 33%,#e1e7eb 74%);
background: -ms-linear-gradient(-45deg,  #f1f4f5 33%,#e1e7eb 74%);
background: linear-gradient(135deg,  #f1f4f5 33%,#e1e7eb 74%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f4f5', endColorstr='#e1e7eb',GradientType=1 );
outline: 0;
}
input[type="radio"] {
    background: none;
}
button, input[type="submit"] {
    background: #00c7b2;
    border: none;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    padding: 12px 15px;
    text-transform: uppercase;
}
select {
    margin: 0;
}
span.req {
    color: #00c7b2;
    margin-left: 3px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}
.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.lowercase {
	text-transform: lowercase;
}

