/* ==========================================================================
   Layout
   ========================================================================== */

#bg-wrapper {
	background: url(../img/bg.png) repeat-y top center #fff;
	min-width: 1008px;
}
#wrapper, .wrapper-width {
	margin: 0 auto;
	position: relative;
	width: 1008px;
}
.shadow-left {
	background: url(../img/side-shadow.png) no-repeat 0 0 #fff;
	height: 550px;
	left: -11px;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 11px;
	z-index: 0;
}
.shadow-right {
	background: url(../img/side-shadow.png) no-repeat -11px 0 #e1e7eb;
	height: 550px;
	overflow: hidden;
	position: absolute;
	right: -11px;
	top: 0;
	width: 11px;
	z-index: 0;
}
.shadow-header {
	background: url(../img/header-shadow.png) no-repeat top center #fff;
	height: 9px;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 126px;
	width: 504px;
	z-index: 0;
}
.shadow-footer {
	background: url(../img/footer-shadow.png) no-repeat top center #fff;
	height: 8px;
	left: -136px;
	overflow: hidden;
	position: absolute;
	top: -8px;
	width: 1280px;
	z-index: 0;
}
.intro {
	background-color: #f4f6f8;
	height: 251px;
}
.bgwhite {
	background: #fff;
}
.spacer {
	height: 24px;
}
[class^="grid"] {
	float: left;
	margin: 0 12px;
	padding: 0;
}
.grid1 {
	width: 144px;
}
.grid2 {
	width: 312px;
}
.grid3 {
	width: 480px;
}
.grid4 {
	width: 648px;
}
.grid5 {
	width: 816px;
}
.grid6 {
	width: 984px;
}
[class*="-full"] {
	float: left;
	margin: 0 0;
	padding: 0;
}
.grid1-full {
	width: 168px;
}
.grid2-full {
	width: 336px;
}
.grid3-full {
	width: 504px;
}
.grid4-full {
	width: 672px;
}
.grid5-full {
	width: 840px;
}
.grid6-full {
	width: 1008px;
}

