/* ==========================================================================
   Everything that goes in the <main> element
   ========================================================================== */


/* ==========================================================================
   Breadcrumb
   ========================================================================== */

#breadcrumb {
	letter-spacing: .1em;
	overflow: hidden;
	position: absolute;
	top: 126px;
	z-index: 2;
}

#breadcrumb ul li {
	float: left;
}
#breadcrumb a,
#breadcrumb span {
	background: transparent;
	color: #293e4c;
	display: block;
	font-size: 12px;
	padding: 9px 12px 9px 24px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
}
#breadcrumb a:after {
	content: '';
	border: 33px solid transparent;
	border-left: 18px solid red;
	border-right: none;
	display: block;
	height: 0px;
	right: -11px;
	position: absolute;
	top: -15px;
	width: 0;
	z-index: 2;
}
#breadcrumb a:hover {
	text-decoration: underline;
}
#breadcrumb li.home a,
#breadcrumb li.section a {
	color: #fff !important;
}
#breadcrumb li.home a {
	padding-left: 16px;
}
#breadcrumb li.product a,
#breadcrumb li span {
	background: transparent !important;
}
#breadcrumb li span.light {
	color: #fff;
}

/*
 * Default Colors (Teal)
 */

#breadcrumb li a { color: #00c7b2; }
#breadcrumb li.home a { background: #00c7b2; }
#breadcrumb li.home a:after { border-left-color: #00c7b2; }
#breadcrumb li.section a { background: #5cdbce; }
#breadcrumb li.section a:after { border-left-color: #5cdbce; }

/*
 * Pharma Colors
 */

#breadcrumb.pharma li a { color: #d71575; }
#breadcrumb.pharma li.home a { background: #d71575; }
#breadcrumb.pharma li.home a:after { border-left-color: #d71575; }
#breadcrumb.pharma li.section a { background: #edb2c3; }
#breadcrumb.pharma li.section a:after { border-left-color: #edb2c3; }
#breadcrumb.pharma li.category a { background: #f9cad8; }
#breadcrumb.pharma li.category a:after { border-left-color: #f9cad8; }
#breadcrumb.pharma li.sub-category a { background: #ffdbe6; }
#breadcrumb.pharma li.sub-category a:after { border-left-color: #ffdbe6; }

/*
 * Supplies Colors
 */

#breadcrumb.supplies li a { color: #83ab28; }
#breadcrumb.supplies li.home a { background: #83ab28; }
#breadcrumb.supplies li.home a:after { border-left-color: #83ab28; }
#breadcrumb.supplies li.section a { background: #a8c468; }
#breadcrumb.supplies li.section a:after { border-left-color: #a8c468; }
#breadcrumb.supplies li.category a { background: #d2e1b1; }
#breadcrumb.supplies li.category a:after { border-left-color: #d2e1b1; }
#breadcrumb.supplies li.sub-category a { background: #e9f0d8; }
#breadcrumb.supplies li.sub-category a:after { border-left-color: #e9f0d8; }

/*
 * Equip Colors
 */

#breadcrumb.equip li a { color: #423761; }
#breadcrumb.equip li.home a { background: #423761; }
#breadcrumb.equip li.home a:after { border-left-color: #423761; }
#breadcrumb.equip li.section a { background: #7a7390; }
#breadcrumb.equip li.section a:after { border-left-color: #7a7390; }
#breadcrumb.equip li.category a { background: #bbb7c6; }
#breadcrumb.equip li.category a:after { border-left-color: #bbb7c6; }
#breadcrumb.equip li.sub-category a { background: #dddbe2; }
#breadcrumb.equip li.sub-category a:after { border-left-color: #dddbe2; }

/*
 * Services Colors
 */

#breadcrumb.services li a { color: #f54f1b; }
#breadcrumb.services li.home a { background: #f54f1b; }
#breadcrumb.services li.home a:after { border-left-color: #f54f1b; }
#breadcrumb.services li.section a { background: #f8835f; }
#breadcrumb.services li.section a:after { border-left-color: #f8835f; }
#breadcrumb.services li.category a { background: #fbc0ad; }
#breadcrumb.services li.category a:after { border-left-color: #fbc0ad; }
#breadcrumb.services li.sub-category a { background: #fddfd6; }
#breadcrumb.services li.sub-category a:after { border-left-color: #fddfd6; }


/* ==========================================================================
   Main
   ========================================================================== */


main {
	min-height: 504px;
	position: relative;
	z-index: 5;
}

/* ==========================================================================
   Basic Styles
   ========================================================================== */


main h1 {
	font-weight: 300;
	font-size: 30px;
	line-height: 36px;
	margin: 0;
	margin-bottom: 18px;
}
main h2 {
	color: #00c7b2;
	font-size: 18px;
	line-height: 21px;
	margin: 21px 0 18px;
}
main h3,
main .callout {
	display: block;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	text-transform: uppercase;
	margin: 9px 0 3px;
}
main h4,
main .callout {
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
	margin-bottom: 12px;
	text-transform: uppercase;
}
main a {
	border-bottom: 1px dotted #293e4c;
	color: #293e4c;
	text-decoration: none;
}
main a:hover {
	border-bottom-style: solid;
}
main p,
main dl,
main ol,
main ul {
	font-size: 15px;
	line-height: 18px;
	margin: 0 0 15px;
	padding-right: 18px;
}
main li ul,
main li ol {
	margin: 10px 0 10px;
}
main li {
	margin: 0 0 6px 28px;
}
main .divider {
	border-top: 1px dotted #6e7e8e;
	margin: 27px 0;
}
main .intro hgroup {
	position: relative;
	left: 12px;
	top: 72px;
	width: 481px;
}
main .intro hgroup h1 {
	color: #00c7b2;
	font-size: 30px;
	font-weight: 300;
	line-height: 36px;
	margin: 0 0 9px;
}
main .intro hgroup h2 {
	color: #293e4c;
	font-size: 15px;
	font-weight: normal;
	line-height: 18px;
	margin: 0 0 24px;
}

/* ==========================================================================
   Forms
   ========================================================================== */

.required {
	color: #6e7e8e;
	font-size: 12px;
	line-height: 1;
	margin-top: 12px;
}

/* ==========================================================================
   Box Buttons
   ========================================================================== */

.button {
	background: #00c7b2;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMwMGM3YjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNTlkYmNkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  rgba(0,199,178,1) 50%, rgba(89,219,205,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(0,199,178,1)), color-stop(100%,rgba(89,219,205,1)));
	background: -webkit-linear-gradient(top,  rgba(0,199,178,1) 50%,rgba(89,219,205,1) 100%);
	background: -o-linear-gradient(top,  rgba(0,199,178,1) 50%,rgba(89,219,205,1) 100%);
	background: -ms-linear-gradient(top,  rgba(0,199,178,1) 50%,rgba(89,219,205,1) 100%);
	background: linear-gradient(to bottom,  rgba(0,199,178,1) 50%,rgba(89,219,205,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c7b2', endColorstr='#59dbcd',GradientType=0 );
	background-size: 100% 72px;
	background-position: 0 0;
	border: 1px solid #00c7b2;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.1em;
	line-height: 12px;
	margin: 0 0 12px;
	padding: 11px 17px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
    -moz-transition: background-position 1s linear;
    -ms-transition: background-position 1s linear;
    -o-transition: background-position 1s linear;
    -webkit-transition: background-position 1s linear;
    transition: background-position 1s linear;
}

/*
 * Colors
 */

.button.pharma {
	background: #d71575;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNkNzE1NzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTM1YjllIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  rgba(215,21,117,1) 50%, rgba(227,91,158,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(215,21,117,1)), color-stop(100%,rgba(227,91,158,1)));
	background: -webkit-linear-gradient(top,  rgba(215,21,117,1) 50%,rgba(227,91,158,1) 100%);
	background: -o-linear-gradient(top,  rgba(215,21,117,1) 50%,rgba(227,91,158,1) 100%);
	background: -ms-linear-gradient(top,  rgba(215,21,117,1) 50%,rgba(227,91,158,1) 100%);
	background: linear-gradient(to bottom,  rgba(215,21,117,1) 50%,rgba(227,91,158,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d71575', endColorstr='#e35b9e',GradientType=0 );
	background-size: 100% 72px;
	background-position: 0 0;
	border-color: #d71575;
}
.button.supplies {
	background: #83ab28;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiM4M2FiMjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjOWNiYzUzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  rgba(131,171,40,1) 50%, rgba(156,188,83,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(131,171,40,1)), color-stop(100%,rgba(156,188,83,1)));
	background: -webkit-linear-gradient(top,  rgba(131,171,40,1) 50%,rgba(156,188,83,1) 100%);
	background: -o-linear-gradient(top,  rgba(131,171,40,1) 50%,rgba(156,188,83,1) 100%);
	background: -ms-linear-gradient(top,  rgba(131,171,40,1) 50%,rgba(156,188,83,1) 100%);
	background: linear-gradient(to bottom,  rgba(131,171,40,1) 50%,rgba(156,188,83,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83ab28', endColorstr='#9cbc53',GradientType=0 );
	background-size: 100% 72px;
	background-position: 0 0;
	border-color: #83ab28;
}
.button.equip {
	background: #423761;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiM0MjM3NjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNjg1ZjgxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  rgba(66,55,97,1) 50%, rgba(104,95,129,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(66,55,97,1)), color-stop(100%,rgba(104,95,129,1)));
	background: -webkit-linear-gradient(top,  rgba(66,55,97,1) 50%,rgba(104,95,129,1) 100%);
	background: -o-linear-gradient(top,  rgba(66,55,97,1) 50%,rgba(104,95,129,1) 100%);
	background: -ms-linear-gradient(top,  rgba(66,55,97,1) 50%,rgba(104,95,129,1) 100%);
	background: linear-gradient(to bottom,  rgba(66,55,97,1) 50%,rgba(104,95,129,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#423761', endColorstr='#685f81',GradientType=0 );
	background-size: 100% 72px;
	background-position: 0 0;
	border-color: #423761;
}
.button.services {
	background: #f54f1b;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmNTRmMWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjg4MzVmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  rgba(245,79,27,1) 50%, rgba(248,131,95,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(245,79,27,1)), color-stop(100%,rgba(248,131,95,1)));
	background: -webkit-linear-gradient(top,  rgba(245,79,27,1) 50%,rgba(248,131,95,1) 100%);
	background: -o-linear-gradient(top,  rgba(245,79,27,1) 50%,rgba(248,131,95,1) 100%);
	background: -ms-linear-gradient(top,  rgba(245,79,27,1) 50%,rgba(248,131,95,1) 100%);
	background: linear-gradient(to bottom,  rgba(245,79,27,1) 50%,rgba(248,131,95,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f54f1b', endColorstr='#f8835f',GradientType=0 );
	background-size: 100% 72px;
	background-position: 0 0;
	border-color: #f54f1b;
}
.button.e222 {
	background: #f8931d;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmODkzMWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmFhZTU2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  rgba(248,147,29,1) 50%, rgba(250,174,86,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(248,147,29,1)), color-stop(100%,rgba(250,174,86,1)));
	background: -webkit-linear-gradient(top,  rgba(248,147,29,1) 50%,rgba(250,174,86,1) 100%);
	background: -o-linear-gradient(top,  rgba(248,147,29,1) 50%,rgba(250,174,86,1) 100%);
	background: -ms-linear-gradient(top,  rgba(248,147,29,1) 50%,rgba(250,174,86,1) 100%);
	background: linear-gradient(to bottom,  rgba(248,147,29,1) 50%,rgba(250,174,86,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8931d', endColorstr='#faae56',GradientType=0 );
	background-size: 100% 72px;
	background-position: 0 0;
	border-color: #f8931d;
}
.button.other {
	background: #6e7e8e;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiM2ZTdlOGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjN2Q5MDliIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  rgba(110,126,142,1) 50%, rgba(125,144,155,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(110,126,142,1)), color-stop(100%,rgba(125,144,155,1)));
	background: -webkit-linear-gradient(top,  rgba(110,126,142,1) 50%,rgba(125,144,155,1) 100%);
	background: -o-linear-gradient(top,  rgba(110,126,142,1) 50%,rgba(125,144,155,1) 100%);
	background: -ms-linear-gradient(top,  rgba(110,126,142,1) 50%,rgba(125,144,155,1) 100%);
	background: linear-gradient(to bottom,  rgba(110,126,142,1) 50%,rgba(125,144,155,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e7e8e', endColorstr='#7d909b',GradientType=0 );
	background-size: 100% 72px;
	background-position: 0 0;
	border-color: #6e7e8e;
}

/*
 * Back to the code!
 */

.button:hover {
	background-position: 0 -36px;
	text-decoration: none;
    -moz-transition: background-position .2s linear;
    -ms-transition: background-position .2s linear;
    -o-transition: background-position .2s linear;
    -webkit-transition: background-position .2s linear;
    transition: background-position .2s linear;
}
.button.pointer:after {
	background: url(../img/button-gt.png) no-repeat -36px 0 #bdf6f1;
	content: '';
	display: block;
	height: 36px;
	position: absolute;
	right: -37px;
	top: -1px;
	width: 36px;
    -moz-transition: background-position .7s;
    -ms-transition: background-position .7s;
    -ms-transition: background-position .7s;
    -o-transition: background-position .7s;
    transition: background-position .7s;
}
.button.pharma.pointer:after { background-color: #edb2c3; background-position: -36px -36px; }
.button.supplies.pointer:after { background-color: #dbe7b4; background-position: -36px -72px; }
.button.equip.pointer:after { background-color: #c1bbd6; background-position: -36px -108px; }
.button.services.pointer:after { background-color: #ffc181; background-position: -36px -144px; }
.button.e222.pointer:after { background-color: #ffc181; background-position: -36px -180px; }

.button.pointer:hover{
	background-color: #03bca8;
}
.button.pointer:hover:after{
	background-position: 0 0;
    -moz-transition: background-position .s linear;
    -ms-transition: background-position .2s linear;
    -o-transition: background-position .2s linear;
    -webkit-transition: background-position .2s linear;
    transition: background-position .2s linear;
}
.button.pharma.pointer:hover:after { background-position: 0 -36px; }
.button.supplies.pointer:hover:after { background-position: 0 -72px; }
.button.equip.pointer:hover:after { background-position: 0 -108px; }
.button.services.pointer:hover:after { background-position: 0 -144px; }
.button.e222.pointer:hover:after { background-position: 0 -180px; }

/* ==========================================================================
   Arrow Buttons
   ========================================================================== */

.button-arrow {
	background: none;
	border: none;
	color: #6e7e8e;
	display: inline-block;
	font-size: 12px;
	letter-spacing: 0.1em;
	line-height: 12px;
	font-weight: bold;
	margin-bottom: 6px;
	text-align: left;
	text-transform: uppercase;
	text-decoration: none;
	padding: 6px 0;
	position: relative;
}
.button-arrow:hover {
	color: #00c7b2;
	border: none;
}
.button-arrow:after {
	background: url(../img/button-arrow.png) no-repeat 0 0 transparent;
	display: inline-block;
	content: '';
	height: 9px;
	position: relative;
	left: 3px;
	width: 14px;
}

/*
 * Color Transitions
 */
.button-arrow.pharma:hover { color: #d71575; }
.button-arrow.supplies:hover { color: #83ab28; }
.button-arrow.equip:hover { color: #423761; }
.button-arrow.services:hover { color: #f54f1b; }
.button-arrow.e222:hover { color: #f8931d; }
.button-arrow.mysas:hover { color: #6e7e8e; }

.button-arrow {
    -moz-transition: color .2s linear;
    -ms-transition: color .2s linear;
    -o-transition: color .2s linear;
    -webkit-transition: color .2s linear;
	transition: color .2s linear;
}
.button-arrow:hover {
    -moz-transition: color .2s;
    -ms-transition: color .2s;
    -o-transition: color .2s;
    -webkit-transition: color .2s;
    transition: color .2s;
}

/*
 * Arrow Transitions
 */

.button-arrow:after { background-position: 0 0; }
.button-arrow:hover:after { background-position: 3px 0; }
.button-arrow.pharma:after { background-position: 0 -12px; }
.button-arrow.pharma:hover:after { background-position: 3px -12px; }
.button-arrow.supplies:after { background-position: 0 -24px; }
.button-arrow.supplies:hover:after { background-position: 3px -24px; }
.button-arrow.equip:after { background-position: 0 -36px; }
.button-arrow.equip:hover:after { background-position: 3px -36px; }
.button-arrow.services:after { background-position: 0 -48px; }
.button-arrow.services:hover:after { background-position: 3px -48px; }
.button-arrow.e222:after { background-position: 0 -60px; }
.button-arrow.e222:hover:after { background-position: 3px -60px; }
.button-arrow.mysas:after { background-position: 0 -72px; }
.button-arrow.mysas:hover:after { background-position: 3px -72px; }

.button-arrow:after {
    -moz-transition: background-position .07s ease-in 1s;
    -ms-transition: background-position .07s ease-in 1s;
    -o-transition: background-position .07s ease-in 1s;
    -webkit-transition: background-position .07s ease-in 1s;
	transition: background-position .07s ease-in .1s;
}
.button-arrow:hover:after {
    -moz-transition: background-position .1s ease;
    -ms-transition: background-position .1s ease;
    -o-transition: background-position .1s ease;
    -webkit-transition: background-position .1s ease;
	transition: background-position .1s ease;
}

/* ==========================================================================
   Tables
   ========================================================================== */

main table {
	font-size: 12px;
	line-height: 15px;
	margin-bottom: 27px;
	text-align: left;
	vertical-align: center;
	width: 100%;
}
main table th {
	color: #6e7e8e;
	border-bottom: 4px solid #6e7e8e;
	text-transform: uppercase;
	padding: 0 12px 3px;
	vertical-align: bottom;
}
main table td {
	padding: 6px 12px;
}
main table th:first-child,
main table td:first-child {
	padding-left: 0;
}
main table th:last-child,
main table td:last-child {
	padding-right: 0;
	text-align: right;
}

main table .sub-head td {
	font-size: 15px;
	font-weight: bold;
	text-align: left;
	padding: 15px 0 9px;
	width: 100%;
}
main table .sub-head td .divider {
	display: block;
	padding: 15px 0 0;
	margin: 0;
}
main table .out-of-stock,
main table .out-of-stock a {
	border-color: #6e7e8e;
	color: #6e7e8e;
}
main table .list {
	text-align: right;
}
main table .discount {
	font-weight: bold;
	text-align: right;
	width: 70px;
}
main table .qty {
	overflow: hidden;
	width: 75px;
}
main table .cart-button {
	background: url(../img/cart-sm.png) no-repeat 0 0 #00c7b2;
	float: left;
	height: 24px;
	padding: 0;
	margin: 0;
	width: 24px;
    -moz-transition: background .3s linear .1s;
    -ms-transition: background .3s linear .1s;
    -o-transition: background .3s linear .1s;
    -webkit-transition: background .3s linear .1s;
    transition: background .3s linear .1s;
}
main table .cart-button:hover {
	background: url(../img/cart-sm.png) no-repeat 0 -24px #bdf6f1;
    -moz-transition: background .2s linear;
    -ms-transition: background .2s linear;
    -o-transition: background .2s linear;
    -webkit-transition: background .2s linear;
    transition: background .2s linear;
}
main table input {
	background: #e1e7eb;
	border: 0;
	font-size: 12px;
	float: left;
	line-height: 12px;
	padding: 5px 6px;
	text-align: center;
	width: 34px;
}

/* ==========================================================================
   Homepage
   ========================================================================== */

.homepage-featured h1,
.featured h1 {
	color: #00c7b2;
	font-size: 42px;
	line-height: 42px;
	margin: 0 0 9px;
}
.homepage-featured h2,
.featured h2 {
	color: #6e7e8e;
	font-weight: normal;
	margin: 0 0 24px;
}
.featured-bucket h2 {
	color: #00c7b2;
	font-size: 24px;
	line-height: 24px;
	margin-bottom: 18px;
	text-transform: uppercase;
}
.featured-bucket h3 {
	color: #293e4c;
	font-size: 15px;
	line-height: 18px;
	font-weight: normal;
	text-transform: none;
}

/* ==========================================================================
   About SAS Section
   ========================================================================== */

.bio {
	border-bottom: 1px dotted #6e7e8e;
	height: 180px;
	padding-top: 36px;
	padding-left: 168px;
	position: relative;
}
.bio h2 {
	margin: 0;
}
.bio > span {
	color: #6e7e8e;
	margin-right: 12px;
}
.bio > a {
	color: #6e7e8e;
}
.bio p {
	margin-top: 1em;
}
.bio img {
	left: 12px;
	height: 132px;
	position: absolute;
	top: 34px;
	width: 132px;
}
.bio:last-child {
	border-bottom: none;
}
.vcard {
	padding-left: 81px;
	position: relative;
}
.vcard h2 {
	margin: 0;
	position: relative;
	top: 10px;
}
.vcard span {
	color: #6e7e8e;
	position: relative;
	top: 10px;
}
.vcard img {
	left: 0;
	position: absolute;
	top: 0;
}

/* ==========================================================================
   Section Pages
   ========================================================================== */

.section-wayfinder {
	height: 502px;
	position: relative;
}
.section-wayfinder h2 {
	color: #fff;
}
.section-wayfinder > .featured {
 	bottom: 0;
 	color: #fff;
 	height: 153px;
 	left: 0;
 	margin: 0 12px 42px;
 	position: absolute;
 	z-index: 2;
 }
 .section-wayfinder > .featured a.button-arrow {
 	color: #fff;
 	font-size: 15px;
 }
 .section-wayfinder > img {
 	left: 0;
 	position: absolute;
 	top: 0;
 	z-index: 1;
 }

/* ==========================================================================
   e222
   ========================================================================== */

ol li {
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
	text-transform: uppercase;
}
ol li ul li {
	font-size: 15px;
	line-height: 18px;
	font-weight: normal;
	text-transform: none;
}

/* ==========================================================================
   RX Alerts Subscription Modal
   ========================================================================== */

#modal {
	background: #fff;
	box-shadow: 0.5px 0.866px 24px 1px rgb( 0, 0, 0 );
	display: none;
	height: 552px;
	left: 50%;
	margin-top: -276px;
	margin-left: -420px;
	position: absolute;
	top: 50%;
	width: 840px;
	z-index: 100;
}
#modal .title-bar {
	background-color: #6e7e8e;
	height: 36px;
	position: relative;
}
#modal .title-bar h2 {
	color: #fff;
	font-size: 14px;
	line-height: 14px;
	position: relative;
	top: 12px;
	left: 10px;
	text-transform: uppercase;
}
#modal .title-bar .modal-close {
	background: url(../img/rx-modal-close.png) no-repeat 0 0 #e1e7eb;
	cursor: pointer;
	height: 0;
	overflow: hidden;
	padding: 36px 0 0 36px;
	position: absolute;
	right: 0;
	top: 0;
	width: 0;
}
#modal .rx-alert {
	background: url(../img/rx-modal-bg.jpg) no-repeat 0 0 #e1e7eb;
	height: 516px;
}
#modal .rx-alert .inner {
	padding: 80px 12px 0;
}
#modal .rx-alert li {
	background: url(../img/bullet-teal.png) no-repeat 12px 6px transparent;
	font-size: 15px;
	list-style: none outside none;
	line-height: 18px;
	margin: 0 0 12px;
	padding: 0 0 0 27px;
}
#modal .rx-form {
	height: 466px;
	padding: 50px 0 0;
}
#modal .rx-form .field {
	height: 36px;
	margin-bottom: 3px;
	position: relative;
}
#modal .rx-form label {
	display: block;
	float: left;
	font-size: 15px;
	line-height: 18px;
	padding: 8px 0 0;
	width: 150px;
}
#modal .rx-form label.two-liner {
	padding: 0;
}
#modal .rx-form input {
	border-right: 2px solid #e1e7eb;
	font-size: 15px;
	line-height: 15px;
	padding: 9px 10px 9px;
	position: absolute;
	left: 167px;
	width: 290px;
}
#modal .rx-form select {
	left: 167px;
	position: absolute;
	top: 9px;
	width: 294px;
}
#modal .rx-form .required-select {
	height: 24px;
	position: absolute;
	right: 0;
	top: 6px;
	width: 1px;
}
#modal .rx-form input#zip {
	width: 154px;
}
#modal .rx-form .radio-container {
	left: 167px;
	position: absolute;
}
#modal .rx-form .radio-wrapper {
	display: block;
	float: left;
	position: relative;
	top: 9px;
	width: 80px;
}
#modal .rx-form .radio-wrapper span {
	left: 20px;
	position: relative;
}
#modal .rx-form .end {
	position: relative;
	top: 20px;
}
#modal .rx-form input[type="radio"] {
	left: 0;
	padding: 0;
	margin: 0;
	top: 1px;
	position: absolute;
	width: auto;
}
#modal .rx-form .required-notice {
	color: #6e7e8e;
	height: 15px;
	display: block;
	padding: 6px;
	position: relative;
	top: 1px;
	width: 120px;
}
#modal .rx-form input[type="radio"],
#modal .rx-form input[type="radio"]:focus {
	background: transparent;
	border: none;
}

#modal .rx-form input[type="submit"] {
	border: none;
	left: auto;
	font-size: 12px;
	font-weight: bold;
	padding-left: 15px;
	padding-right: 15px;
	position: absolute;
	right: 0;
	width: auto;
}

#modal-overlay {
  background-color: rgb(41,62,76) ;
  display: none;
  height: 100%;
  opacity: .9;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 99;
}

#modal.modal-show,
#modal-overlay.modal-show {
	display: block;
}


/* ==========================================================================
   My SAS Sidebar
   ========================================================================== */

/*
 * Rebate box
 */

#my-sas-sidebar #rebate{
	background: url(../img/aaoms-grid1.png) no-repeat 0 0 #00c7b2;
	height: 254px;
}

/*
 * Featured Items
 */

#my-sas-sidebar #featured-items hgroup {
	position: relative;
}
#my-sas-sidebar #featured-items hgroup h2 {
	font-size: 15px;
}
#my-sas-sidebar #featured-items hgroup a {
	position: absolute;
	right: 7px;
	top: -2px;
}
#my-sas-sidebar #featured-items .product {
	margin-bottom: ;
}
#my-sas-sidebar #featured-items .product hgroup {
	margin: 12px 12px 12px;
	padding-bottom: 18px;
}
#my-sas-sidebar #featured-items .product hgroup h4 {
	color: #293e4c;
	font-size: 12px;
	line-height: 18px;
	margin: 0 0 3px;
}
#my-sas-sidebar #featured-items .product hgroup h5 {
	color: #00c7b2;
	font-size: 15px;
	line-height: 1;
	margin: 0;
}
#my-sas-sidebar img {
	width: 100%;
}

#my-sas-bottombar h2 {
	color: #00c7b2;
	font-size: 18px;
	font-weight: bold;
	line-height: 1;
}
#my-sas-bottombar #featured-items hgroup {
	position: relative;
	margin-bottom: 21px;
	margin-top: 42px;
}
#my-sas-bottombar #featured-items hgroup a {
	position: absolute;
	right: 12px;
	top: -3px;
}
#my-sas-bottombar #featured-items .product {
	background: #fff;
}
#my-sas-bottombar #featured-items .product hgroup {
	border-bottom: 1px solid #6e7e8e;
	margin: 12px;
	padding-bottom: 36px;
}
#my-sas-bottombar #featured-items .product hgroup h4 {
	color: #293e4c;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
	margin: 0 0 3px;
}
#my-sas-bottombar #featured-items .product hgroup h5 {
	color: #00c7b2;
	font-size: 15px;
	line-height: 1;
	margin: 0;
}
#my-sas-bottombar img {
	width: 100%;
}



/* ==========================================================================
   Cart
   ========================================================================== */

#cart #quick-add {
	text-align: right;
	float: right;
	margin-top: -43px;
	margin-bottom: 35px;
}
#cart #quick-add > div {
	display: inline-block;
	padding: 0 0 0 12px;
}
#cart #quick-add > div.extra-links {
	display: block;
}
#cart #quick-add label {
	color: #6e7e8e;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	text-transform: uppercase;
	padding-right: 0px;
	position: relative;
	top: 1px;
}
#cart #quick-add input {
	height: 14px;
	font-size: 12px;
	line-height: 14px;
	position: relative;
	right: -3px;
}
#cart #quick-add .item input {
	width: 78px;
}
#cart #quick-add .uom {
	padding-left: 9px;
}
#cart #quick-add .qty input {
	width: 27px;
}
#cart #quick-add div.add-item {
	padding-left: 6px;
}
#cart #quick-add .add-item .button {
	padding: 6px 9px;
}
#cart #quick-add .extra-links a {
	margin-left: 6px;
}

/*
 * Table
 */

#cart table {
	font-size: 13px;
	line-height: 1;
	vertical-align: middle;
}
#cart table .item {
	text-align: left;
	padding-left: 0px;
	padding-right: 6px;
	width: 123px;
}
#cart table tr.rule td div {
	border-bottom: 1px dotted #6e7e8e;
	height: 1px;
	width: 100%;
}
#cart table tr.rule:last-child td div {
	border-bottom: 1px solid #6e7e8e;
}
#cart table tr.rule td {
	border: none;
	height: 2px;
	padding: 0;
}
#cart table tr td {
	padding-top: 15px;
	padding-bottom: 15px;
	vertical-align: middle;
}
#cart table .qty {
	text-align: center;
	padding: 0 6px 3px;
	width: 42px;
}
#cart table .qty input {
	background-color: #e1e7eb;
	float: none;
	text-align: center;
	padding-left: 3px;
	padding-right: 3px;
	position: relative;
	top: 1px;
}
#cart table .uom {
	text-align: center;
	padding-left: 3px;
	padding-right: 3px;
}
#cart table .uom select {
	font-size: auto;
	position: relative;
	top: -1px;
}
#cart table .price {
	text-align: right;
	padding-left: 6px;
	padding-right: 6px;
	width: 81px;
}
#cart table .extended {
	font-weight: bold;
	text-align: right;
	padding-left: 6px;
	padding-right: 6px;
	width: 81px;
}
#cart table .out-of-stock .extended {
	font-weight: normal;
}
#cart table .delete {
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	width: 50px;
}
#cart table .delete input {
	float: none;
	width: auto;
}
#cart .summary {
	position: relative;
}
#cart .summary .coupon-code {
	height: 70px;
	position: relative;
	top: 4px;
}
#cart .summary .coupon-code p {
	bottom: 0;
	font-size: 10px;
	position: absolute;
}
#cart .summary .coupon-code label {
	color: #6e7e8e;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	text-transform: uppercase;
	padding-right: 3px;
	position: relative;
	top: 1px;
}
#cart .summary .coupon-code input {
	height: 14px;
	font-size: 12px;
	line-height: 14px;
	position: relative;
	right: -3px;
}
#cart .summary .price {
	color: #293e4c;
	font-size: 21px;
	font-weight: bold;
	line-height: 1;
	position: absolute;
	height: 70px;
	top: 0;
	right: 3px;
	text-align: right;
}
#cart .summary .price span {
	color: #00c7b2;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	margin-right: 18px;
	position: relative;
	top: -3px;
}
#cart .summary .price p {
	bottom: -4px;
	font-size: 10px;
	font-weight: normal;
	padding-right: 0;
	position: absolute;
	right: 0;
	width: 300px;
}
#cart .summary .coupon-code a.button {
	height: 12px;
	padding: 6px 12px;
}
#cart .summary .buttons {
	margin-top: 24px;
}
#cart .summary .buttons a:last-child {
	position: absolute;
	right: 36px;
}


/* ==========================================================================
   Payment
   ========================================================================== */

/*
 * Summary
 */

#payment #summary {
	margin-bottom: 36px;
	position: relative;
}
#payment #more-info > div {
	margin-bottom: 12px;
}
#payment #summary .price {
	color: #00c7b2;
	font-size: 33px;
	font-weight: bold;
	line-height: 1;
	width: 231px;
}
#payment #summary .price span {
	color: #2c3e4c;
	display: block;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	margin-bottom: 9px;
	text-transform: uppercase;
}
#payment #summary .price p {
	color: #2c3e4c;
	font-size: 12px;
	font-weight: normal;
	line-height: 17px;
	margin: 6px 0;
}
#payment #more-info {
	position: absolute;
	right: 0;
	text-align: right;
	top: 0;
	width: 423px;
}
#payment #more-info label {
	color: #6e7e8e;
	display: inline-block;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 9px;
	padding-right: 3px;
	position: relative;
	text-align: left;
	top: 1px;
	width: 120px;
}
#payment #more-info .input-wrap {
	display: inline-block;
	text-align: left;
	width: 186px;
}
#payment #more-info input {
	height: 14px;
	font-size: 12px;
	line-height: 14px;
	position: relative;
}
#payment #more-info .reference {
	margin-top: -18px;
}
#payment #more-info .reference label {
	top: 9px;
	position: relative;
}
#payment #more-info .reference input {
	width: 166px;
}
#payment #more-info .shipping select {
	margin-bottom: 9px;
	width: 180px;
}
#payment #more-info .date select {
	width: 45px;
}

/*
 * Credit Card Form
 */

#payment #credit-card label {
	color: #6e7e8e;
	display: inline-block;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	text-transform: uppercase;
	padding-right: 3px;
	position: relative;
	top: 1px;
}
#payment #credit-card input[type="radio"] {
	background: none;
	border: none;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   #payment #credit-card input[type="radio"] {
   	position: relative;
   	top: 2px;
   }
}
#payment #credit-card h3 {
	border-bottom: 4px solid #6e7e8e;
	color: #6e7e8e;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	margin-bottom: 15px;
	padding-bottom: 6px;
	text-transform: uppercase;
}
#payment #credit-card .select-card {
	border-bottom: 1px dashed #6e7e8e;
	padding: 3px 0 18px;
	position: relative;
}
#payment #credit-card .saved select {
	left: 9px;
	position: relative;
	width: 195px;
}
#payment #credit-card .select-card .task {
	position: absolute;
	right: 0;
	top: 3px;
}
#payment #credit-card .radio-wrapper {
	display: inline-block;
}
#payment #credit-card .radio-wrapper span {
	display: inline-block;
	font-size: 13px;
	padding: 0 12px 0 6px;
	position: relative;
	top: 1px;
}
#payment .required {
	color: #6e7e8e;
	font-size: 12px;
	line-height: 1;
	margin-top: 12px;
}
#payment #credit-card .left {
	float: left;
	width: 402px;
}
#payment #credit-card .right {
	float: right;
	width: 402px;
}
#payment #credit-card .card-info label {
	width: 100px;
}
#payment #credit-card .right label {
	margin-left: 21px;
	width: 70px;
}
#payment #credit-card .card-info  .field {
	height: 30px;
	margin-bottom: 3px;
}
#payment #credit-card .card-info input[type="text"] {
	width: 282px;
}
#payment #credit-card .card-info .select {
	height: 22px;
	padding: 4px 0
}

/*
 * Credit Card
 */

#payment #credit-card .type {
	height: 50px;
	position: relative;
}
#payment #credit-card .type .row1,
#payment #credit-card .type .row2 {
	position: absolute;
	left: 106px;
	width: 213px;
}
#payment #credit-card .type .row1 {
	top: 0;
}
#payment #credit-card .type .row2 {
	top: 18px;
}

/*
 * Summary (Buttons)
 */

#payment .summary {
	border-top: 1px solid #6e7e8e;
	margin-top: 18px;
	text-align: center;
}
#payment .buttons {
	text-align: right;
	margin-top: 12px;
	position: relative;
	right: 36px;
}

/* ==========================================================================
   Address
   ========================================================================== */

#address h4 {
	font-size: 14px;
}
#address #address-search {
	margin: 12px 0 18px;
}
#address #address-search div {
	display: inline-block;
	margin-right: 21px;
}
#address #address-search label {
	padding-right: 6px;
}
#address #address-search input {
	height: 14px;
	font-size: 12px;
	line-height: 14px;
	position: relative;
	right: -3px;
}
#address .addresses {
	display: block;
	overflow: hidden;
	margin-bottom: 27px;
}
#address .addresses > div {
	border-left: 3px solid #e1e7eb;
	float: left;
	padding: 12px 0 6px 15px;
	width: 279px;
}
#address .addresses .clearfix {
	border: none;
}
#address .addresses span {
	display: block;
}
#address table {
	border-bottom: 1px solid #6e7e8e;
	margin: 6px;
}
#address table th {
	text-align: left;
}
#address table td {
	font-size: 15px;
	padding: 15px 12px;
	text-align: left;
	vertical-align: middle;
}
#address table td span {
	/*display: block;*/
}
#address table tr.rule td {
	padding: 0;
}
#address table tr.rule td div {
	border-bottom: 1px dotted #6e7e8e;
	height: 1px;
	padding: 0;
	width: 100%;
}
#address .summary {
	padding: 15px 0 0 0;
	position: relative;
	text-align: right;
	right: 36px;
}
#address #address-search a.button {
	height: 12px;
	padding: 6px 12px;
}

/* ==========================================================================
   Registration
   ========================================================================== */

#registration h3 {
	border-bottom: 4px solid #6e7e8e;
	color: #6e7e8e;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	margin-bottom: 15px;
	padding-bottom: 6px;
	text-transform: uppercase;
}
#registration label {
	color: #6e7e8e;
	display: inline-block;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	text-transform: uppercase;
	padding-right: 3px;
	position: relative;
	top: 1px;
	width: 100px;
}
#registration input[type="text"],
#registration input[type="email"],
#registration input[type="tel"] {
	width: 282px;
}
#registration .left {
	float: left;
	width: 402px;
}
#registration .right {
	float: right;
	position: relative;
	width: 402px;
}
#registration .field {
	height: 30px;
	margin-bottom: 3px;
}
#registration .select {
	height: 22px;
	padding: 4px 0
}
#registration .zip input[type="text"] {

}
#registration .account {
	position: relative;
}
#registration .account label {
	position: relative;
	top: 6px;
	margin-top: -7px;
}
#registration .use {
	position: absolute;
	right: 0;
	top: 6px;
}
#registration .use label {
	font-weight: normal;
	left: 3px;
	text-transform: none;
	top: 0px;
	width: auto;
}

/*
 * Summary (Buttons)
 */

#registration .summary {
	border-top: 1px solid #6e7e8e;
	margin-top: 18px;
	text-align: center;
}
#registration .buttons {
	text-align: right;
	margin-top: 12px;
	position: relative;
	right: 36px;
}

/* ==========================================================================
   Order Summary
   ========================================================================== */


#order-summary h4 {
	font-size: 14px;
}
#order-summary #order-summary-search {
	margin: 12px 0 18px;
}
#order-summary #order-summary-search div {
	display: inline-block;
	margin-right: 21px;
}
#order-summary #order-summary-search label {
	padding-right: 6px;
}
#order-summary #order-summary-search input {
	height: 14px;
	font-size: 12px;
	line-height: 14px;
	position: relative;
	right: -3px;
}
#order-summary .addresses {
	display: block;
	margin-bottom: 87px;
	position: relative;
}
#order-summary .addresses > div  {
	float: left;
	width: 408px;
}
#order-summary .addresses div.main {
	border-top: 3px solid #e1e7eb;
	padding: 12px 0 0px;
	margin: 0 15px 0 0;
}
#order-summary .addresses .clearfix {
	border: none;
}
#order-summary .addresses span {
	display: block;
}
#order-summary .addresses .additional {
	border-top: 1px dotted #e1e7eb;;
	padding: 15px 0 6px;
	margin: 0 15px 21px 0;
}
#order-summary .addresses .additional span.label {
	color: #6e7e8e;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	width: 75px;
}
#order-summary .addresses .additional span {
	display: inline;
}

/*
 * Table
 */

#order-summary table {
	font-size: 13px;
	line-height: 1;
	vertical-align: middle;
}
#order-summary table .item {
	text-align: left;
	padding-left: 0px;
	padding-right: 6px;
	width: 123px;
}
#order-summary table tr.rule td div {
	border-bottom: 1px dotted #6e7e8e;
	height: 1px;
	width: 100%;
}
#order-summary table tr.rule:last-child td div {
	border-bottom: 1px solid #6e7e8e;
}
#order-summary table tr.rule td {
	border: none;
	height: 2px;
	padding: 0;
}
#order-summary table tr td {
	padding-top: 15px;
	padding-bottom: 15px;
	vertical-align: middle;
}
#order-summary table .qty {
	text-align: center;
	padding: 0 6px 3px;
	width: 42px;
}
#order-summary table .uom {
	text-align: center;
	padding-left: 3px;
	padding-right: 3px;
}
#order-summary table .price {
	text-align: right;
	padding-left: 6px;
	padding-right: 6px;
	width: 81px;
}
#order-summary table .extended {
	font-weight: bold;
	text-align: right;
	padding-left: 6px;
	padding-right: 6px;
	width: 81px;
}
#order-summary table .out-of-stock .extended {
	font-weight: normal;
}
#order-summary .summary {
	padding: 15px 0 0 0;
	position: relative;
	text-align: right;
	right: 0px;
}
#order-summary .summary .price {
	color: #293e4c;
	font-size: 21px;
	font-weight: bold;
	line-height: 1;
	position: absolute;
	height: 60px;
	top: -6px;
	right: 0;
	text-align: right;
}
#order-summary .summary .price span {
	color: #00c7b2;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	margin-right: 18px;
	position: relative;
	top: -3px;
}
#order-summary .summary .price p {
	bottom: 0;
	font-size: 10px;
	font-weight: normal;
	padding: 0;
	position: absolute;
	right: 0;
	width: 300px;
}
#order-summary .summary .buttons {
	margin-top: 42px;
	position: relative;
	right: 36px;
}
#order-summary #order-summary-search a.button {
	height: 12px;
	padding: 6px 12px;
}


/* ==========================================================================
   Quick Order
   ========================================================================== */

/*
#order-summary h4 {
	font-size: 14px;
}

#order-summary #order-summary-search {
	margin: 12px 0 18px;
}
#order-summary #order-summary-search div {
	display: inline-block;
	margin-right: 21px;
}
#order-summary #order-summary-search label {
	padding-right: 6px;
}
#order-summary #order-summary-search input {
	height: 14px;
	font-size: 12px;
	line-height: 14px;
	position: relative;
	right: -3px;
}
#order-summary .addresses {
	display: block;
	margin-bottom: 87px;
	position: relative;
}
#order-summary .addresses > div  {
	float: left;
	width: 408px;
}
#order-summary .addresses div.main {
	border-top: 3px solid #e1e7eb;
	padding: 12px 0 0px;
	margin: 0 15px 0 0;
}
#order-summary .addresses .clearfix {
	border: none;
}
#order-summary .addresses span {
	display: block;
}
#order-summary .addresses .additional {
	border-top: 1px dotted #e1e7eb;;
	padding: 15px 0 6px;
	margin: 0 15px 21px 0;
}
#order-summary .addresses .additional span.label {
	color: #6e7e8e;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	width: 75px;
}
#order-summary .addresses .additional span {
	display: inline;
}
*/
/*
 * Table
 */

#quick-order table {
	font-size: 13px;
	line-height: 1;
	vertical-align: middle;
}
#quick-order table .item {
	text-align: left;
	padding-left: 0px;
	padding-right: 6px;
	width: 200px;
}
#quick-order table tr.rule td div {
	border-bottom: 1px dotted #6e7e8e;
	height: 1px;
	width: 100%;
}
#quick-order table tr.rule:last-child td div {
	border-bottom: 1px solid #6e7e8e;
}
#quick-order table tr.rule td {
	border: none;
	height: 2px;
	padding: 0;
}
#quick-order table tr td {
	padding-top: 15px;
	padding-bottom: 15px;
	vertical-align: middle;
}
#quick-order table .qty {
	text-align: center;
	padding: 0 6px 3px;
	width: 35px;
	
}
#quick-order table .uom {
	text-align: center;
	padding-left: 3px;
	padding-right: 3px;
}
#quick-order table .price {
	text-align: right;
	padding-left: 6px;
	padding-right: 6px;
	width: 81px;
}
#quick-order table .extended {
	font-weight: bold;
	text-align: right;
	padding-left: 6px;
	padding-right: 6px;
	width: 81px;
}
#quick-order table .out-of-stock .extended {
	font-weight: normal;
}
#quick-order .summary {
	padding: 15px 0 0 0;
	position: relative;
	text-align: right;
	right: 0px;
}
#quick-order .summary .price {
	color: #293e4c;
	font-size: 21px;
	font-weight: bold;
	line-height: 1;
	position: absolute;
	height: 60px;
	top: -6px;
	right: 0;
	text-align: right;
}
#quick-order .summary .price span {
	color: #00c7b2;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	margin-right: 18px;
	position: relative;
	top: -3px;
}
#quick-order .summary .price p {
	bottom: 0;
	font-size: 10px;
	font-weight: normal;
	padding: 0;
	position: absolute;
	right: 0;
	width: 300px;
}
#quick-order .summary .buttons {
	margin-top: 42px;
	position: relative;
	right: 36px;
}
#quick-order #quick-order-search a.button {
	float: left;
	height: 12px;
	padding: 3px 12px;
	background: red;
	
}
#quick-order input, textarea {
	float: left;
	width: 100px;
	margin-right: 5px;
	background: #e1e7eb;
	border: 1px solid #e1e7eb;
	padding: 5px 6px;
	text-align: left;
}
#quick-order input.qty, textarea {
	float: left;
	width: 40px;
	margin-right: 5px;
	background: #e1e7eb;
	border: 1px solid #e1e7eb;
	padding: 5px 6px;
	text-align: left;
}
#quick-order .select {
	height: 22px;
	padding: 4px 0
}
#quick-order table .button {
	text-align: center;
	padding-left: 3px;
	padding-right: 3px;
	height: 12px;
}
#quick-order .button.sml {
	padding: 5px 10px;
}

#quick-order .buttons.rt {
	margin: 0 35px 20px 0;
	text-align: right;
}
#quick-order label {
	color: #6e7e8e;
	display: inline-block;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	text-transform: uppercase;
	padding-right: 3px;
	position: relative;
	top: 1px;
	width: 100px;
}
#quick-order input[type="text"],
#quick-order input[type="email"],
#quick-order input[type="tel"] {
	display: inline-block;
	float: none;
	width: 282px;
}
#quick-order .left {
	margin-bottom: 24px;
	width: 420px;
}
#quick-order .left .field {
	height: 30px;
	margin-bottom: 3px;
}
#quick-order .left .buttons {
	text-align: right;
	margin-top: 12px;
	position: relative;
	width: 402px;
}
#quick-order .radio {
	width: 25px;
	margin: 0 0 0 0;
	background: yellow;
}

/* ==========================================================================
   Order Inquiry
   ========================================================================== */

#order-inquiry table {
	font-size: 13px;
	line-height: 1;
	vertical-align: middle;
}
#order-inquiry table .item {
	text-align: left;
	padding-left: 0px;
	padding-right: 6px;
	width: 200px;
}
#order-inquiry table tr.rule td div {
	border-bottom: 1px dotted #6e7e8e;
	height: 1px;
	width: 100%;
}
#order-inquiry table tr.rule:last-child td div {
	border-bottom: 1px solid #6e7e8e;
}
#order-inquiry table tr.rule td {
	border: none;
	height: 2px;
	padding: 0;
}
#order-inquiry table tr td {
	padding-top: 15px;
	padding-bottom: 15px;
	vertical-align: middle;
}
#order-inquiry table .qty {
	text-align: center;
	padding: 0 6px 3px;
	width: 35px;
	
}
#order-inquiry table .uom {
	text-align: center;
	padding-left: 3px;
	padding-right: 3px;
}
#order-inquiry table .price {
	text-align: right;
	padding-left: 6px;
	padding-right: 6px;
	width: 81px;
}
#order-inquiry table .extended {
	font-weight: bold;
	text-align: right;
	padding-left: 6px;
	padding-right: 6px;
	width: 81px;
}
#order-inquiry table .out-of-stock .extended {
	font-weight: normal;
}
#order-inquiry .summary {
	padding: 15px 0 0 0;
	position: relative;
	text-align: right;
	right: 0px;
}
#order-inquiry.summary .price {
	color: #293e4c;
	font-size: 21px;
	font-weight: bold;
	line-height: 1;
	position: absolute;
	height: 60px;
	top: -6px;
	right: 0;
	text-align: right;
}
#order-inquiry .summary .price span {
	color: #00c7b2;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	margin-right: 18px;
	position: relative;
	top: -3px;
}
#order-inquiry .summary .price p {
	bottom: 0;
	font-size: 10px;
	font-weight: normal;
	padding: 0;
	position: absolute;
	right: 0;
	width: 300px;
}
#order-inquiry .summary .buttons {
	margin-top: 42px;
	position: relative;
	right: 36px;
}
#order-inquiry #quick-order-search a.button {
	float: left;
	height: 12px;
	padding: 3px 12px;
	background: red;
	
}
#order-inquiry input, textarea {
	float: left;
	width: 100px;
	margin-right: 5px;
	background: #e1e7eb;
	border: 1px solid #e1e7eb;
	padding: 5px 6px;
	text-align: left;
}
#order-inquiry input.qty, textarea {
	float: left;
	width: 40px;
	margin-right: 5px;
	background: #e1e7eb;
	border: 1px solid #e1e7eb;
	padding: 5px 6px;
	text-align: left;
}
#order-inquiry .select {
	height: 22px;
	padding: 4px 0
}
#order-inquiry table .button {
	text-align: center;
	padding-left: 3px;
	padding-right: 3px;
	height: 12px;
}
#order-inquiry .button.sml {
	padding: 5px 10px;
}

#order-inquiry .buttons.rt {
	margin: 0 35px 20px 0;
	text-align: right;
}
#order-inquiry label {
	color: #6e7e8e;
	display: inline-block;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	text-transform: uppercase;
	padding-right: 3px;
	position: relative;
	top: 1px;
	width: 100px;
}
#order-inquiry input[type="text"],
#order-inquiry input[type="email"],
#order-inquiry input[type="tel"] {
	display: inline-block;
	float: none;
	width: 282px;
}

#order-inquiry select {
	display: inline-block;
	float: none;
	width: 300px;
}

#order-inquiry .left {
	margin-bottom: 24px;
	width: 420px;
}
#order-inquiry .left .field {
	height: 30px;
	margin-bottom: 3px;
}
#order-inquiry .left .buttons {
	text-align: right;
	margin-top: 12px;
	position: relative;
	width: 402px;
}

#order-inquiry .right {
	margin-bottom: 24px;
	width: 420px;
}
#order-inquiry .right .field {
	height: 30px;
	margin-bottom: 3px;
}
#order-inquiry .right .buttons {
	text-align: right;
	margin-top: 12px;
	position: relative;
	width: 402px;
}

#order-inquiry .radio {
	width: 25px;
	margin: 0 0 0 0;
	background: yellow;
}

#order-inquiry .detail input[type="text"] {
	width: 100px;
}

#order-inquiry .detail td {
	width: 150px;
}

#order-inquiry .detail select {
	float:left;
	width: 150px;
}

#order-inquiry .detail label {
	float: left;
	width: 170px;
}

.buttons2 {
	text-align: right;
	margin-top: 12px;
	margin-left: auto;
	margin-right:auto;
	display:block;
	position: relative;
	width: 402px;
}

#order-inquiry .left {
	float:left;
}

#order-inquiry .right {
	float:left;
}



#order-inquiry th.select {
	width: 120px;
	text-align:left;
}

#order-inquiry td.select {
	width: 120px;
	text-align:left;
}

#order-inquiry th.ordernum {
	width: 120px;
	text-align:left;
}


#order-inquiry td.ordernum {
	width: 120px;
	text-align:left;
}


#order-inquiry th.orderdate {
	width: 120px;
	text-align:left;
}


#order-inquiry td.orderdate {
	width: 120px;
	text-align:left;
}

#order-inquiry th.po {
	width: 120px;
	text-align:left;
}


#order-inquirytd.po {
	width: 120px;
	text-align:left;
}

#order-inquiry th.ship {
	width: 120px;
	text-align:left;
}


#order-inquiry td.ship {
	width: 120px;
	text-align:left;
}

#order-inquiry th.sold {
	width: 120px;
	text-align:left;
}


#order-inquiry td.sold {
	width: 120px;
	text-align:left;
}

#order-inquiry .addresses {
	display: block;
	margin-bottom: 20px;
	position: relative;
}
#order-inquiry .addresses > div  {
	order-inquiryfloat: left;
	width: 408px;
}
#order-inquiry .addresses div.main {
	border-top: 3px solid #e1e7eb;
	padding: 12px 0 0px;
	margin: 0 15px 0 0;
}
#order-inquiry .addresses .clearfix {
	border: none;
}
#order-inquiry .addresses span {
	display: block;
}
#order-inquiry .addresses .additional {
	border-top: 1px dotted #e1e7eb;;
	padding: 15px 0 6px;
	margin: 0 15px 21px 0;
}
#order-inquiry .addresses .additional span.label {
	color: #6e7e8e;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	width: 75px;
}
#order-inquiry .addresses .additional span {
	display: inline;
}

#order-inquiry .billing {
	float: left;
}

#order-inquiry .shipping {
	float: right;
}

/*
#quick-order th.item {
	width: 150px;
	background: orange;
	text-align: left;
}
#quick-order th.description {
	width: 150px;
	background: yellow;
	text-align: left;
}
*/




/* ==========================================================================
   Assets page
   ========================================================================== */

.color-block {
	background: #555;
	color: #fff;
	height: 12px;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	padding: 30px 0;
	width: 144px;
}
.color-block.teal {	background: #00c7b2; float: left; padding: 69px 0; width: 94px; }
.color-block.teal-lt { background: #bdf6f1; color: #00c7b2; float: left; padding: 69px 0; width: 94px; }

.color-block.pink { background: #d71575; }
.color-block.pink-lt { background: #edb2c3; color: #d71575; }
.color-block.green { background: #83ab28; }
.color-block.green-lt { background: #dbe7b4; color: #83ab28; }
.color-block.purple { background: #423761; }
.color-block.purple-lt { background: #c1bbd6; color: #423761;}
.color-block.orange { background: #f54f1b; }
.color-block.orange-lt { background: #ffc181; color: #f54f1b; }

.color-block.darkgrey {	background: #293e4c; float: left; padding: 69px 0; width: 94px; }
.color-block.midgrey { background: #6e7e8e; float: left; padding: 69px 0; width: 94px; }
.color-block.litegrey {	background: #e1e7eb; color: #293e4c; float: left; padding: 69px 0; width: 94px; }
.color-block.e222orange { background: #f8931d; }
.color-block.e222orange-lt { background: #fccb93; color: #f8931d; }

.example {
	background: #bdf6f1;
	border: 1px dotted #00c7b2;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #00c7b2;
	margin-bottom: 18px;
	text-align: center;
	padding: 3px;
}



